.footer {
  background-color:#000000;
  width: 100%;
  color: white;
  display: flex;
  justify-content:space-evenly;
  padding:5px 0px 5px 10px;
  font-size: smaller;

}
.footer > .plast {
  margin-left: 10%;
}