html,body{
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family:'Comfortaa', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}
.container{
  text-align: center; 
}
.header{
  width: 100%;
  background-color:#000000;
  display:flex;
  justify-content: start;

}
::placeholder{
  font-size:14px;
  font-family:'Comfortaa', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color:#00FF00
}
.search{
  max-width: 100%;
}
input[type=text]{
  width:80%;
  padding: 10px 10px;
  border-style:thin;
  font-size: small;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:rgba(0,0,0,0.4) ;

}
input:focus{
  outline: none;
}
button{
  padding: 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.4);
  color:#00FF00
}
button:focus{
  outline:none
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin:100px 20px 100px 100px;

}

.cardImage{
  width:100px;
  height: 100px;
} 
.home{
  display:flex;
  justify-content: center;
  margin:20px 20px 20px 20px;
  height: 100vh;
}
.dropDown{
  display: flex;
  justify-content: flex-start;
  margin:5px 0px 0px 0px;
  text-decoration: none;
  color:white
}
.movies{
  margin:auto;
  max-width: 70%;
  max-height: 80%;
  overflow-y:scroll;
  margin-top: 10px;
  background-color:#000000;
}
.dropDown > h6{
    align-self: center;
    margin-left: 2px;
}
.details{
  background-color:rgba(0,0,0,0.2);
  align-self: auto;
}
label,i{
  color:#00FF00
}
